{% extends "user/home_layout.html"%}

{% block content %}


{{userdeets}}
    
<div class="content" style="background-color: white;padding:3em">
  <h3>Change your profile Picture</h3>
  <form action="" enctype="multipart/form-data" method="post">
        {{dpform.csrf_token}}
    {% if dpform.dp.errors %}
    <div class="alert alert-danger">
        {{dpform.dp.errors}} 
    </div>
    {%endif%}
        <div class="mb-3">
            {{dpform.dp.label}}
            {{dpform.dp}}
        </div>
        <div class="mb-3">
            {{dpform.btnupload}}
        </div>
  </form>
 </div>

  </div>

 {% block partner %}
 {%endblock%}
 {% block featured%}{%endblock%}

{%endblock%}